PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=app_key
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=sqlite
DISCORD_CLIENT_ID=clientId
DISCORD_CLIENT_SECRET=clientSecret
